{% include 'header' %}

#import "{{ prefix }}{{ module_info.name }}CollectionViewCell.h"

#import "{{ prefix }}{{ module_info.name }}ViewOutput.h"

@implementation {{ prefix }}{{ module_info.name }}CollectionViewCell

#pragma mark - Методы жизненного цикла

- (void)awakeFromNib {
	[super awakeFromNib];

	[self.output didTriggerViewReadyEvent];
}

#pragma mark - Методы {{ prefix }}{{ module_info.name }}ViewInput

- (void)setupInitialState {
	// В этом методе происходит настройка параметров view, зависящих от ее жизненого цикла (создание элементов, анимации и пр.)
}

@end
