{% include 'header' %}

#import <UIKit/UIKit.h>

#import "{{ prefix }}{{ module_info.name }}ViewInput.h"

@protocol {{ prefix }}{{ module_info.name }}ViewOutput;

@interface {{ prefix }}{{ module_info.name }}CollectionViewCell : UICollectionViewCell <{{ prefix }}{{ module_info.name }}ViewInput>

@property (nonatomic, strong) id<{{ prefix }}{{ module_info.name }}ViewOutput> output;

@end
